.personItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  height: var(--person-item-height);
  border-bottom: 1px solid var(--border-primary);
  background-color: var(--surface-muted-bg);
  border-radius: var(--border-radius);
  transition: background-color 0.2s;
}
