@charset"UTF-8";
/************************************ variables ************************************/
// counts
$number_of_sections: 3;
// lines
$middle_img_contianer_width: 370px;
// z-indexes
$middle_img_z: 10;
/************************************ styles ************************************/
@import "base.scss";
@import "modules.scss";
// Elements
#app {}

#react-root {
	position: relative;
}

#middle-img-container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	#middle-img {
		display: flex;
		align-items: center;
		#middle-img-comp {
			width: $middle_img_contianer_width;
			height: $middle_img_contianer_width;
			z-index: $middle_img_z;
			position: relative;
			#main-avatar {
				border: 5px solid #eee;
			}
		}
	}
}

#section-buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.3;
	@include put_items_on_circle($number_of_sections, $middle_img_contianer_width +95px, 150px);
}

#section-container {
	background: #fff;
	box-shadow: inset 0 0 0 14px #eee, 0 0 24px #aaa;
	border-radius: 100%;
	border: 3px solid #aaa;
	padding: 35px;
}
#close-section-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

@import "theme.scss";