@charset"UTF-8";
#section-container.section-container-resume {
    $color-main: #F44336;
    $color-shadow-light: #FFEBEE;
    $color-shadow-dark: rgba(101, 46, 46, 0.5);
    $color-nav-buttons-shadow: #9e0b00;
    $color-background: #fff8f9;
    background: $color-background;
    @include section_container_theme($color-main, $color-shadow-light, $color-shadow-dark);
    .close-button {
        background: $color-main;
    }
    .vertical-slider-nav-btn:hover {
        color: $color-nav-buttons-shadow;
    }
    .skill-group-title {
        color: #af0c00;
    }
}

#section-container.section-container-profile {
    $color-main: #4CAF50;
    $color-shadow-light: #E8F5E9;
    $color-shadow-dark: rgba(44, 77, 45, 0.5);
    $color-nav-buttons-shadow: #307034;
    $color-background: #f8fff9;
    background: $color-background;
    @include section_container_theme($color-main, $color-shadow-light, $color-shadow-dark);
    .close-button {
        background: $color-main;
    }
    .vertical-slider-nav-btn:hover {
        color: $color-nav-buttons-shadow;
    }
}

#section-container.section-container-portfolio {
    $color-main: #2196F3;
    $color-shadow-light: #e3f2fd;
    $color-shadow-dark: rgba(20, 48, 70, 0.5);
    $color-image-shadow: rgba(16, 48, 74, 0.5);
    $color-background: #f5fbff;
    $color-nav-buttons-shadow: #1565bc;
    $color-imaeg-container-border-bottom: #b9c3cc;
    background: $color-background;
    @include section_container_theme($color-main, $color-shadow-light, $color-shadow-dark);
    .portfolio-media-item {
        border-top-color: $color-main;
        $inset-shadow-dark-color: #bfddf3;
        $inset-shadow-light-color: #e4f3ff;
        @include portfolio_media_item_shadow($inset-shadow-dark-color, $inset-shadow-light-color);
        &.portfolio-media-no-img {
            @include portfolio_media_item_shadow($inset-shadow-light-color, $inset-shadow-light-color, true);
        }
        .portfolio-media-image-container {
            border-bottom-color: $color-imaeg-container-border-bottom;
        }
        .portfolio-media-techs {
            li {
                background: #e9f1f7;
                color: #00579c;
            }
        }
    }
    .close-button {
        background: $color-main;
    }
    .vertical-slider-nav-btn:hover {
        color: $color-nav-buttons-shadow;
    }
}
